/*----------------- Responsive ---------------------*/
@media (max-width: 1200px){
	
	

}

/* Large desktop */
@media (max-width : 1135px){
	
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		/*padding: 0 15px;*/
	}

	.navbar{
		margin: 0;
	}
	
}

@media (max-width : 1002px) { 

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}

}

@media (max-width : 991px) { 
	
	.navbar-default {
		background-color: #000;
		border-color: #000;
	}
	.navbar-default .navbar-brand{
		margin: 0px;
	}
	
}


@media (max-width: 992px) {

    
	
}

@media (max-width: 979px) {
	
	

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

}
@media (min-width: 768px) {
	


}


/* Landscape phone to portrait tablet */
@media (max-width: 600px) {



}

/* Landscape phones and down */
@media (max-width: 480px) {



}