section.showroom-sec-1{
    .image{
        margin: 0;
    }
    .box-content{
        background-color: #e6eaee;
        min-height: 523px;
        margin-left: 7px;
        .caption{
            margin-left: 30px;
            margin-bottom: 35px;
            padding-top: 55px;
            p{
                font-size: 19px;
                color: #000;
            }
        }
        .arrange{
            margin-left: 30px;
            p{
                font-size: 15px;
                color: #000;
                margin-bottom: 0;
            }
        }
        .contact{
            margin-bottom: 35px;
            margin-left: 30px;
            h5{
                font-weight: 700;
                font-size: 15px;
                color: #000;
                display: inline-block;
                position: relative;
            }
            p{
                font-size: 15px;
                color: #000;
                display: inline-block;
                position: relative;
            }
        }
        .see-you{
            margin-left: 30px;
            p{
                font-size: 15px;
                color: #000;
            }
        }
    }
}