@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@play : 'Play', sans-serif;
@Fira : 'Fira Sans', sans-serif;
@Mont : 'Montserrat', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #fff;
}

h1,h2,h4,h5,h6,a{
    font-family: @play;
    margin-bottom: 0;
}

h3{
    font-family: @Mont;
}

.prelative.container{
    max-width: 1480px;
}

section.home-sec-1{
    .box-content.top{
        text-align: center;
        padding-top: 165px;
        padding-bottom: 80px;

        .title{
            font-size: 30px;
            color: #ed1c24;
            padding-bottom: 25px;
        }
        .subtitle{
            font-size: 15px;
            color: #606060;

        }
    }
    .image{

        img.gambar{
            width: 100%;
        }

        width: 100%;
        position: relative;
        padding-bottom: 30px;
        max-width: 1476px;

        .judul {
            padding-top : 33px;
            padding-left : 33px;

            p{
                font-size: 30px;
                font-weight: 700;
                color : #0a2037;
                position: absolute;
                top: 10px;
                left: 20px;
                line-height: 1.2;
            }
        }
        .subjudul {

            p{
                font-size: 15px;
                font-family: @Fira;
                font-weight: 300;
                color: #7d7c7c;
                position: absolute;
                margin-top: 100px;
                left: 25px;
                top: 10px;
                max-width: 348px;
            }
        }

        .click{

                position: absolute;
                bottom: 100px;
                left: 25px;

           p{
                font-size: 13pt;
                font-family: @Fira;
                display: inline-block;
                color : #0a2037;
                padding-left: 13px;
            } 
        }        
    }
    .image.middle{
        img{
            width: 100%;
        }
        
    }

    }
    .image.bottom{
        
        width: 100%;
        position: relative;
        padding-bottom: 145px;

        img.gambar{
            width: 100%;
        }

        .judul1{
            padding-top:33px;
            padding-left:33px;
            p{ 
                font-size: 23px;
                color: #ffffff;
                font-family: @Mont;
                font-weight: 700;
                position: absolute;
                top:25px;

            }
        }

        .subjudul1{
            
            
             p{
                 font-size: 15px;
                 color: #ffffff;
                 font-family: @Fira;
                 font-weight: 300;
                position: absolute;
                 margin-top: 100px;
                 left: 33px;
                 top:10px;
             }
        }

        .klik{
            position: absolute;
            bottom: 100px;
            left: 25px;

       p{
            font-size: 13pt;
            font-family: @Fira;
            display: inline-block;
            color : #fff;
            padding-left: 13px;
            font-weight: 700;
        }
        }
        
}

.prelative{
    position: relative;
}
.box-content.banner-full{
    .image{}
    .box-description-mid{
        position: absolute;
        bottom: 30%;
        left: 0;
        width: 100%;
        z-index: 30;
        text-align: center;
        p{
            font-size: 33px;
            font-weight: 700;
            color: #fff;

            font-family: @Mont;
            
            display: block;
            max-width: 695px;
            margin: 0 auto 20px;
        }
        .click-about-us{
            img{
                display: block;
                margin: 0 auto 10px;
            }
            a{
                font-family: @Fira;
                font-size: 16px;
                font-weight: 600;
                color: #fff; 
            }
        }
    }
}

section.home-sec-2{
   
    // min-height: 440px;
    // display: table;
    // vertical-align: middle;
    // height: 100%;
    // width: 100%;
    //margin-top: 115px;
    background-color: #fff;

    .prelative.container2 {
        vertical-align: middle;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .our{
        p{
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: #8c8c8c;
        }
    }

    .logo{
    //    margin-top: 46px;
       padding: 0px;
    }
    .caption{
        font-size: 28px;
        color: #ffffff;
        padding-top: 105px;
    }
    .subtitle{
        font-size: 15px;
        color: #e8e8e8;
        padding-top: 35px;
    }
    .click{
        padding-top: 55px;
        a{
            text-decoration: none;
            text-decoration-line: underline;
            font-size: 12px;
            color: #ffffff;
            font-weight: 700;
        }
    }
}

section.home-sec-3{
    min-height: 670px;
    .box-content.quality{
        text-align: center;
        padding-bottom: 60px;
        padding-top: 140px;
        .title{
            font-size: 30px;
            padding-bottom: 20px;
        }
        .subtitle{
            font-size: 18px;
            color: #606060;
        }
    }
    .image{
        position: relative;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .caption{
        color: #606060;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }
}

@import 'subpage.less';
@import 'pandu.less';